@import "tailwindcss";

*{
    /* overflow-y: hidden; */
}

html, body {
  height: 100%;
  /* overflow: hidden; */

}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes onlinePulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}